body {
  padding: 50px;
  background: white;
}

.container {
    width: 500px;
    height: 500px; 
}

.cup-container {
    display: flex;
    flex-direction: row;
    --container-bg-color: white;
    background: var(--container-bg-color);
}

.filling-menu-container {
    display: flex;
    background: white;
}

.filling-bar-container {
    display: flex;
    flex-direction: column-reverse;
    width: 30%;
    height: 80%;
    transform:translate(100%, 10%);
    border: 5px solid black;
}

.filling-bar {
  width: 100%;
  height: 25%;
  animation: fill-box 1s cubic-bezier(0.3, 0.6, 0.6, 0.9);
  animation-fill-mode: forwards;
  background: white;
}


.cup {
  position: relative;
  height: 350px;
  width: 250px;
  margin: auto;
  background-color: red;
  border-radius: 5%;
}

.handle {
  position: absolute;
  height: 200px;
  width: 120px;
  top: 70px;
  left: -120px;
  border-top-left-radius: 75px 100px;
  border-bottom-left-radius: 75px 100px;
  border-top-right-radius: 50% 20px;
  border-bottom-right-radius: 50% 20px;
  background-color: red;
}

.handle:after {
  content: "";
  position: absolute;
  height: 140px;
  width: 90px;
  top: 30px;
  right: 0;
  border-top-left-radius: 45px 70px;
  border-bottom-left-radius: 45px 70px;
  border-top-right-radius: 45px 35px;
  border-bottom-right-radius: 45px 35px;
  background: var(--container-bg-color);
}

.tea {
  background: rgb(157, 62, 0);
}

.juice {
  background: rgb(247, 202, 5);
}

.coffee {
  background: rgb(111, 78, 55);
}


#gameContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

@keyframes fill-box {
    0% {
        height: 0;
    }
    
    100%{
        height: 25%;
    }
}

