@font-face {
  font-family: 'TTSkip';
  src: url('fonts/ja-jp.ttf');
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

::-ms-scrollbar {
  display: none;
}

h1 {
  font-family: 'TTSkip';
  margin: 20px;
  font-size: 36px;
  color: #8d726e;
}

h2 {
  font-family: 'TTSkip';
  color: #8d726e;
}

body {
  background: #FFFDF0;
  margin: 0;
}

.container {
  width: 300px;
  height: 300px;
}

.divider {
  width: 100%;
  height: 2px;
  background: black;
  position: absolute;
}

.button {
  width: 50px;
  height: 50px;
}

.cup-container {
  display: flex;
  flex-direction: row;
  --container-bg-color: #FFFDF0;
  background: var(--container-bg-color);
  margin: auto 50px;
}

.filling-menu-container {
  width: 30%;
  height: inherit;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  padding: 0px 5px;  
  overflow-y: scroll; 
}

.filling-menu-dimming {
  position: sticky;
  bottom: 0;
  height: 15%;
  width: 100%;
  background: linear-gradient(0deg, #FFFDF0 20%, rgba(255,255,255,0) 100%);
  padding: 5px;
  z-index: 50;
  pointer-events: none; 
}

.filling-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filling-button {
  margin: 8px;
  height: 150px;
  width: 130px;
  background: white;
  border-radius: 15px;
  border: 3px solid #FFD599;
  font-family: 'TTSkip';
  font-size: 20px;
  cursor: pointer;
  color: #8d726e;
}

.filling-button:hover {
  background: #FFD599;
}

.filling-button:active {
  background: #ffc676;
}

.start-menu-button {
  width: 300px;
  height: 8%;
  background: white;
  border: 3px solid #ffd599;
  border-radius: 50px;
  font-family: 'TTSkip';
  font-size: 24px;
  color: #8d726e;
  z-index: 10;
  margin: 2%;
}

.start-menu-button:hover {
  background: #ffd599;
  transition: 0.2s;
}

.start-menu-button:active {
  background: #ffc676;
  transition: 0.2s;
}

.nav-bar-button {
  background: transparent;
  border: 0px;
  font-family: 'TTSkip';
  font-size: 24px;
  cursor: pointer;
}

.nav-bar-button:hover {
  background: rgb(36, 212, 124);
}

.nav-bar-button:active {
  background: rgb(40, 177, 108);
}

.stop-button {
  background: white;
  border: 3px solid #ffd599;
  border-radius: 100px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  font-family: 'TTSkip';
  font-size: 24px;
  color: #8d726e;
}

.stop-button:hover {
  background: #ffd599;
}

.stop-button:active {
  background: #ffc676;
}

.game-menu-button {
  width: 200px;
  height: 80px;
  background: white;
  border: 3px solid #ffd599;
  border-radius: 50px;
  font-family: 'TTSkip';
  font-size: 24px;
  color: #8d726e;
  margin: 20px;
}

.game-menu-button:hover {
  background: #ffd599;
}

.game-menu-button:active {
  background: #ffc676;
}

.mix-button {
  background: white;
  border: 3px solid #FFD599;
  border-radius: 100px;
  cursor: pointer;
}

.mix-button:hover {
  background: #ffd599;
}

.mix-button:active, .mix-button.keyboardActive {
  background: #ffc676;
}

.filling-title-container {
  border-radius: 15px;
  background: #ffd599;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.filling-title-container h2 {
  text-align: center;
  width: 100%;
}

.filling-bar-container {
  position: absolute;
  bottom: 16px;
  right: 1px;
  background: white;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 68%;
  box-sizing: border-box;
  mask: url('img/cupIconMask.png');
  -webkit-mask: url('img/cupIconMask.png');
  -moz-mask: url('img/cupIconMask.png');
  -ms-mask: url('img/cupIconMask.png');
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  -moz-mask-size: 100% 100%;
  -ms-mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -moz-mask-repeat: no-repeat;
  -ms-mask-repeat: no-repeat;

}

.mug-filling-bar-container {
  position: absolute;
  bottom: 37px;
  background: white;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  mask: url('img/mugIconMask.png');
  -webkit-mask: url('img/mugIconMask.png');
  -moz-mask: url('img/mugIconMask.png');
  -ms-mask: url('img/mugIconMask.png');
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  -moz-mask-size: 100% 100%;
  -ms-mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -moz-mask-repeat: no-repeat;
  -ms-mask-repeat: no-repeat;
}

.bar-elements-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pouring-bar-container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 15px;
  width: 30px;
  height: 400px;
  border: 5px solid #63554E;
}

.pouring-bar {
  width: 100%;
  height: 0%;
  --background-color: 'yellow';
  background: var(--background-color);
  z-index: -1;
}

.mix-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 400px;
  height: 400px;
  margin: auto 0;
}

.required-inputs-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  background: linear-gradient(90deg, #FFFDF0 15%, #FFD599 50%, #FFFDF0 85%);
  margin-top: 20px;
}

.final-info-container {
  display: flex;
  width: fit-content;
  height: inherit;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.filling-bar {
  width: 100%;
  height: 25%;
  background: white;
}

.filling-bar-animation {
  animation: fill-filling 1s cubic-bezier(0.3, 0.6, 0.6, 0.9);
  animation-fill-mode: forwards;
}

.topping-bar {
  width: 100%;
  height: 5%;
  background: white;
}

.topping-bar-animation {
  animation: fill-topping 0.3s cubic-bezier(0.3, 0.6, 0.6, 0.9);
  animation-fill-mode: forwards;
}

.stop-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.pouring-cup-animation {
  animation: fill-percentage 1s cubic-bezier(0.3, 0.6, 0.6, 0.9);
  animation-fill-mode: forwards;
}

.start-screen-animation {
  animation: screen-pulse 0.75s cubic-bezier(.24,.08,.91,-0.21);
  animation-fill-mode: forwards;
}

.result-screen-animation {
  animation: screen-pulse 0.75s cubic-bezier(.24,.08,.91,-0.21);
  animation-fill-mode: backwards;
  animation-direction: reverse;
}

.start-button-animation {
  animation: transparency-out 0.3s ease-in;
  animation-fill-mode: forwards;
}

.game-elements-fade-in {
  animation: transparency-in 0.5s ease-in;
  animation-fill-mode: forwards;
}

.game-elements-fade-out {
  animation: transparency-out 0.5s ease-in;
  animation-fill-mode: forwards;
}

.start-screen-ripple {
  position: absolute;
  width: 200vw;
  height: 200vw;
  transform: scale(0);
  display: block;
  border-radius: 100%;
  background: white;
}

.result-screen-ripple {
  position: absolute;
  width: 200vw;
  height: 200vw;
  transform: scale(0);
  display: block;
  border-radius: 100%;
  background: white;
  z-index: 100;
}

.cup {
  background-image: url('img/cupIcon.svg');
  background-size: cover;
  position: relative;
  height: 300px;
  width: 300px;
  margin: auto;
}

.mug {
  background-image: url('img/mugIcon.svg');
  background-size: cover;
  position: relative;
  height: 300px;
  width: 300px;
  margin: auto;
}

.tea {
  background: rgb(157, 62, 0);
}

.juice {
  background: rgb(247, 202, 5);
}

.coffee {
  background: rgb(111, 78, 55);
}

.milk {
  background: #f8efce;
}

.chocolate {
  background: rgb(89, 71, 63);
}

.caramel {
  background: rgb(181, 126, 63);
}

.fizzy-water {
  background: rgb(161, 203, 226);
}

.lemon {
  background: rgb(244, 227, 108);
}

.mint {
  background: rgb(130, 174, 43);
}

.green-tint {
  background: linear-gradient(0deg, rgb(0, 247, 49) 0%, rgba(255,255,255,0) 25%);
}

.red-tint {
  background: linear-gradient(0deg, rgba(255,48,48,1) 0%, rgba(255,255,255,0) 25%);
}


.flash-background {
  animation: flash-background 0.5s ease;
}

#gameContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 67vh;
  flex-wrap: wrap;
}

#leftMixButton {
  grid-column-start: 1;
  grid-row-start: 2;
}

#rightMixButton {
  grid-column-start: 3;
  grid-row-start: 2;
}

#upMixButton {
  grid-column-start: 2;
  grid-row-start: 1;
}

#downMixButton {
  grid-column-start: 2;
  grid-row-start: 3;
}

#nextStateButton {
  margin-left: auto;
}

#startButton {
  
}



#gameInfoContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 9vh;
}

#orderContainer {
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: center;
}

#scoreContainer {
  width: 50%;
  text-align: center;
}

#modeInfoContainer {
  width: 50%;
  text-align: center;
}

#navBarContainer {
  display: flex;
  justify-content: flex-start;
  background: rgb(46, 255, 150);
  width: 100%;
  height: 50px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  position: sticky;
  top: 0px;
  z-index: 100;
}

#startScreenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url('img/mainBg.svg');
  overflow: scroll;
  position: absolute;
}

#startScreenTitle {
  color: #8d726e;
}


#menuContainer {
  display: flex;
  width: 100%;
  height: 15vh;
  align-items: center;
  justify-content: flex-start;
  padding: 0 50px 0 50px;
  background: transparent;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: auto 0;
}

#resultScoreContainer {
  display: flex;
  height: fit-content;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

#resultsScreenContainer {
  position: absolute;
  padding-top: 100px;
  width: 100%;
  height: 100%;
}

@keyframes fill-percentage {
  0% {
    height: 0;
  }

  100%{
      height: var(--animation-height);
  }
}


@keyframes fill-filling {
    0% {
        height: 0;
    }
    
    100%{
        height: 25%;
    }
}

@keyframes fill-topping {
  0% {
      height: 0;
  }
  
  100%{
      height: 5%;
  }
}

@keyframes flash-background {
  0% {
    background: linear-gradient(90deg, #FFFDF0 15%, #FFD599 50%, #FFFDF0 85%);
  }

  50%{
    background: linear-gradient(90deg, #FFFDF0 15%, rgb(255, 48, 48) 50%, #FFFDF0 85%);
  }

  100% {
    background: linear-gradient(90deg, #FFFDF0 15%, #FFD599 50%, #FFFDF0 85%);
  }
}

@keyframes screen-pulse {


  100% {
    transform: scale(1);
  }
}

@keyframes transparency-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes transparency-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 1460px), screen and (min-height: 900px) {
  .filling-menu-dimming {
    display: none;
  }
}

@media screen and (max-width: 1459px) {
  #nextStateButton {
    margin-left: 15px;
  }
  
  #menuContainer {
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
  }

  .game-menu-button {
    width: 80%;
  }
}

@media screen and (max-width: 749px) {
  #gameContainer {
    overflow: scroll;
  }
}

@media screen and (max-height: 799px){
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  .game-menu-button {
    font-size: 18px;
    height: 60px;
  }
}



.lightbox {
  position: fixed;
  /* top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%); */
  background-color: #FFFDF0;
  border-radius: 10px;
  font-family: 'TTSkip';
  font-size: 36px;
  height: 450px;
  overflow: scroll;
  border: 10px #FFFDF0 solid;
  box-shadow: 0px 0px 20px 0px #FFD599;
  color: #8d726e;
}

.lightbox table {
  border-spacing: 10px;
}



.lightbox-dimming {
  position: sticky;
  bottom: -1px;
  height: 15%;
  width: 100%;
  background: linear-gradient(0deg, #FFFDF0 20%, rgba(255,255,255,0) 100%);
  z-index: 50;
  pointer-events: none; 
}


.overlay {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.25);
  z-index: 100;
}
